.main_con {
  display: flex;
}

.main_con .left {
  width: 250px;
}

.main_con .right {
  width: calc(100% - 250px);
}

.main_con .right .top {
  height: 80px;
  border-bottom: 2px solid #f5f4f6;
  display: flex;
  align-items: center;
  position: relative;
}

.main_con .right .top .search_input {
  position: relative;
  margin-left: 2rem;
  display: flex;
}

.main_con .right .top .search_input input {
  width: 300px;
  height: 46px;
  font-size: medium;
  font-weight: 600;
  color: #7c7c8d;
  background-color: #f5f4f6;
  padding: 0.9rem 0 0.9rem 2.9rem;
  border: 2px solid #e6e8ec;
  border-radius: 8px;
}

.main_con .right .top .search_input hr {
  position: absolute;
  left: 1.5rem;
  top: 1.3rem;
  background-color: #ef9011;
  border-radius: 8px;
  width: 30px;
  height: 5px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.main_con .right .top .search_input img {
  position: absolute;
  top: 0.6rem;
  left: 0.4rem;
}

.main_con .right .top .user {
  display: flex;
  gap: 2rem;
  position: absolute;
  right: 2.5rem;
}

.main_con .right .top .user .person {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.main_con .right .content,
.main_con .right .content_booking {
  background-color: #f5f4f6;
  padding: 1rem;
}

.main_con .right .content .first {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  height: 260px;
  width: 230px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #ffffff;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.active {
  background-color: #a162f7;
  color: #ffffff;
}

.content .first .activeCard {
  background-color: #a66ff0;
  border: 1px solid #a66ff0;
}

.content .first .card .topCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.com {
  background-color: #f5f4f6;
}

.card .bottom {
  position: relative;
}

.card .bottom img:last-child,
.card .bottom p {
  position: absolute;
}

.card .bottom p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  text-align: center;
  top: 2rem;
  left: 1.4rem;
  font-size: xx-large;
}

.card .bottom .one,
.card .bottom .two,
.card .bottom .three,
.card .bottom .four {
  bottom: 5px;
}

.card .bottom .one {
  right: 4.5rem;
}

.card .bottom .two {
  right: 3rem;
}

.card .bottom .three,
.card .bottom .four {
  right: 5.54rem;
}

.content .third {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.content .third .card {
  width: 318px;
  display: flex;
  align-items: flex-start;
}

.First {
  background-color: #e1dfa4;
}

.Sec {
  background-color: #e3ecf1;
}

.Third {
  background-color: #f4e3e5;
}
.content .third .card .topThird {
  display: flex;
  gap: inherit;
}

.bottomThird {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bottomThird div {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

/* Booking Page */

.main_con .right .content_booking h2 {
  padding: 1rem;
}

.main_con .right .content_booking .filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.main_con .right .content_booking .filter .one {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.main_con .right .content_booking .filter .one button {
  border: none;
  border-radius: 22.5px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 122px;
  height: 36px;
  gap: 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #5f6165;
}

.main_con .right .content_booking .filter .two {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.main_con .right .content_booking .filter .two button {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(53, 53, 53, 0.1);
  border-radius: 30px;
}

.main_con .right .content_booking .filter .two button:last-child {
  background-color: #a162f7;
}

.main_con .right .content_booking .carCards {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.main_con .right .content_booking .carCards .carCard {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 300px;
  height: 267px;
  background: #ffffff;
  border-radius: 16px;
}

.carCard h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #72767c;
}

.main_con .right .content_booking .carCards .carCard .top {
  border: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.top h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #242731;
}

.carCard .bottom,
.carCard .bottom .details,
.carCard .bottom .details .person,
.carCard .bottom .details .man,
.carCard .bottom .price {
  display: flex;
  align-items: center;
}

.carCard .bottom {
  width: 100%;
  justify-content: space-between;
}

.carCard .bottom .details {
  gap: 1rem;
}

.carCard .bottom .details .person,
.carCard .bottom .details .man {
  gap: 0.5rem;
}

.carCard .bottom .details .person img {
  width: 20px;
}

.carCard .bottom .details .person p,
.carCard .bottom .details .man p,
.carCard .bottom .price p:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #72767c;
}

.main_nav {
  position: relative;
  min-height: 100vh;
  padding: 2rem 1.4rem;
  width: 250px;
  border-right: 2px solid #f5f4f6;
  display: flex;
  flex-direction: column;
}

.main_nav .topNav {
  align-self: flex-start;
  width: 200px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main_nav .topNav h2 {
  padding-bottom: 0.5rem;
}

.main_nav .middleNav {
  margin-top: 2rem;
}

.middleNav ul,
.bottomNav ul {
  list-style: none;
}

.middleNav ul li,
.bottomNav ul li a {
  padding: 0.3rem 0 0.3rem 0.3rem;
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.middleNav ul li a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.middleNav ul .active {
  color: inherit;
  background: #f3f5f8;
  border-radius: 6px;
}

.main_nav .bottomNav {
  position: absolute;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
